<section class="city-card">
    <div class="image-container">
        <img class="city-image" src="{{photoURL}}" />
    </div>
    <div class="caption">
        Which city is this?
    </div>
	<label class="container">{{caption}}
		<input type="checkbox" checked="checked">
		<span class="checkmark"></span>
	</label>

	<label class="container">{{caption}}
	<input type="checkbox">
	<span class="checkmark"></span>
	</label>

	<label class="container">{{caption}}
		<input type="checkbox">
		<span class="checkmark"></span>
	</label>

	<label class="container">{{caption}}
		<input type="checkbox">
		<span class="checkmark"></span>
	</label>
</section>